html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    height: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    font-weight: inherit; /* 1 */
    margin: 0; /* 3 */
    padding: 0;
}

button {
    background: transparent;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: none; /* 3 */
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

button,
input,
fieldset,
textarea,
select {
  font-size: inherit;
  color: inherit;
  border: none;
}

img {
  width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

ol, ul, li {
  list-style: none;
}

body {
  background-color: rgb(250, 250, 250);
  font: 400 0.875em/1.38 Verdana;
  color: rgb(0,0,0);
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: none;
  border-left: 1px solid #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 10px;
}